<h1 mat-dialog-title>Add New Product</h1>
<mat-dialog-content>
  <form [formGroup]="productForm" #updstu="ngForm">
    <!-- Product Name -->
    <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input formControlName="productName" matInput placeholder="Name" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <!-- Product Category -->
    <mat-form-field appearance="outline">
      <mat-label>Product Categories</mat-label>
      <mat-select name="category" formControlName="category">
        <mat-option *ngFor="let ph of phones" [value]="ph">
          {{ ph }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- DatePicker -->
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input formControlName="date" matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!-- Product Originality -->
    <mat-label>Product Originality</mat-label>
    <mat-radio-group
      formControlName="originality"
      class="example-radio-group"
      aria-label="Select an option"
    >
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let origin of originalityList"
        [value]="origin"
      >
        {{ origin }}
      </mat-radio-button>
    </mat-radio-group>
    <!-- Product Price -->
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input
        formControlName="price"
        matInput
        type="number"
        placeholder="Price"
      />
    </mat-form-field>
    <!-- Comment -->
    <mat-form-field appearance="outline">
      <mat-label>Comment</mat-label>
      <textarea formControlName="comment" matInput></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="warn" mat-button mat-dialog-close>Cancel</button>
  <button
    color="primary"
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    type="submit"
    (click)="openSnackBar()"
  >
    {{ actionBtn }}
  </button>
</mat-dialog-actions>
