.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}


// td,
// th {
//   width: 5%;
// }
